<html>
	<head>
		<title>Analisador</title>
		<link rel="stylesheet" type="text/css" href="./recursos/css/styleAnalisador.css" />
		<script type="text/javascript" src="./recursos/js/jquery-2.0.1.min.js"></script>
		<script type="application/javascript" src="./recursos/json/myFile.json"></script>		
		<script type="text/javascript" src="./recursos/js/scriptAnalisador.js"></script>
		<meta charset="UTF-8"/>
		
	</head>
	<body>
		<div>
			<span id="titulo"><b>Faça o teste</b></span>
					
			<div id="qdrbotao">
				<button type="button">Enviar</button></br>
				<span id="comentario">Issue:</span> <b id="paragrafo">teste</b>
			</div>
				
			
		</div>
	<body>
</html>
