<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Home </title>
      <link rel="stylesheet" type="text/css" href="../css/semantic.min.css">
   </head>
   <body>
      <div class="ui fixed inverted menu">
         <div class="ui container">
            <a href="#" class="header item">
            <img src="<%=user.avatar_url%>" class="logo"/>
            <span> <%= user.name%> </span>
           
            </a>
            <a href="#" class="item">Home</a>
            <a href="/logout" class="item">Logout</a>
         </div>
      </div>

      
   </body>
</html>