<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>FERRAMENTA GEMQ - LOGIN</title>
		<link rel="stylesheet" type="text/css" href="./recursos/css/style.css" />
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
		<script type="text/javascript" src="./recursos/js/jquery-2.0.1.min.js"></script>
		<script type="text/javascript" src="./recursos/js/script.js"></script>
		
	</head>
	
	<body>
		<div id="header"></div>
		<div id="nav"></div>
		<div id="main">
			<div id="content">
			<div id="figure">
				<img id="imagem" src="./recursos/img/aguia.png"/>
			</div>
			<div id="description">
				<span id="sigla">GEMQS</span></br>
				<span id="nome">Grupo de Evolução, Manutenção e Qualidade de Software</span>
			</div>
			</div>
			<div id="authentication">
				<span id="boas_vindas">Seja bem-vindo a ferramenta GEMQS!</span></br>
				<span id="desc_autenticar">Faça login com sua conta Github</span></br>
				<button>Fazer Login</button>
			</div>
		</div>
		<div id="footer"></div>
	</body>
</html>
